
.jp-git-PlainText-diff {
  width: 100%;
  height: 100%;
}

.jp-git-PlainText-diff .CodeMirror-merge {
  position: relative;
  border: 1px solid #ddd;
  white-space: pre;
}

.jp-git-PlainText-diff .CodeMirror-merge-2pane .CodeMirror-merge-pane {
  width: 47%;
}
.jp-git-PlainText-diff .CodeMirror-merge-2pane .CodeMirror-merge-gap {
  width: 6%;
}
.jp-git-PlainText-diff .CodeMirror-merge-3pane .CodeMirror-merge-pane {
  width: 31%;
}
.jp-git-PlainText-diff .CodeMirror-merge-3pane .CodeMirror-merge-gap {
  width: 3.5%;
}

.jp-git-PlainText-diff .CodeMirror-merge-pane {
  display: inline-block;
  white-space: normal;
  vertical-align: top;
}
.jp-git-PlainText-diff .CodeMirror-merge-pane-rightmost {
  position: absolute;
  right: 0px;
  z-index: 1;
}

.jp-git-PlainText-diff .CodeMirror-merge-gap {
  z-index: 2;
  display: inline-block;
  height: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  position: relative;
  background: #f8f8f8;
}

.jp-git-PlainText-diff .CodeMirror-merge-scrolllock-wrap {
  position: absolute;
  bottom: 0;
  left: 50%;
}
.jp-git-PlainText-diff .CodeMirror-merge-scrolllock {
  position: relative;
  left: -50%;
  cursor: pointer;
  color: #555;
  line-height: 1;
}
.jp-git-PlainText-diff .CodeMirror-merge-scrolllock:after {
  content: '\21db\00a0\00a0\21da';
}
.jp-git-PlainText-diff .CodeMirror-merge-scrolllock.CodeMirror-merge-scrolllock-enabled:after {
  content: '\21db\21da';
}

.jp-git-PlainText-diff .CodeMirror-merge-copybuttons-left,
.jp-git-PlainText-diff .CodeMirror-merge-copybuttons-right {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  line-height: 1;
}

.jp-git-PlainText-diff .CodeMirror-merge-copy {
  position: absolute;
  cursor: pointer;
  color: #44c;
  z-index: 3;
}

.jp-git-PlainText-diff .CodeMirror-merge-copy-reverse {
  position: absolute;
  cursor: pointer;
  color: #44c;
}

.jp-git-PlainText-diff .CodeMirror-merge-copybuttons-left .CodeMirror-merge-copy {
  left: 2px;
}
.jp-git-PlainText-diff .CodeMirror-merge-copybuttons-right .CodeMirror-merge-copy {
  right: 2px;
}

.jp-git-PlainText-diff .CodeMirror-merge-r-inserted,
.jp-git-PlainText-diff .CodeMirror-merge-l-inserted {
  background-color: var(--jp-diff-added-color2);
  background-position: bottom left;
  background-repeat: repeat-x;
}

.jp-git-PlainText-diff .CodeMirror-merge-r-deleted,
.jp-git-PlainText-diff .CodeMirror-merge-l-deleted {
  background-color: var(--jp-diff-deleted-color2);
  background-position: bottom left;
  background-repeat: repeat-x;
}

.jp-git-PlainText-diff .CodeMirror-merge-left .CodeMirror-merge-l-chunk {
  background-color: var(--jp-diff-deleted-color2);
}

.jp-git-PlainText-diff .CodeMirror-merge-l-chunk {
  background-color: var(--jp-diff-added-color2);
}

/* .jp-git-PlainText-diff .CodeMirror-merge-spacer {
  background: repeating-linear-gradient(
    -45deg,
    var(--jp-layout-color0),
    var(--jp-layout-color0) 10px,
    var(--jp-inverse-layout-color0) 10px,
    var(--jp-inverse-layout-color0) 12px
  );
} */

.jp-git-PlainText-diff .CodeMirror-merge-collapsed-widget:before {
  content: '(...)';
}
.jp-git-PlainText-diff .CodeMirror-merge-collapsed-widget {
  cursor: pointer;
  color: #88b;
  background: #eef;
  border: 1px solid #ddf;
  font-size: 90%;
  padding: 0 3px;
  border-radius: 4px;
}
.jp-git-PlainText-diff .CodeMirror-merge-collapsed-line .CodeMirror-gutter-elt {
  display: none;
}
